.footer{
    font-size: 9px;
    color: black;
}

body{
    background: linear-gradient(90deg, gray 0%, #d9e7ff 100%);
    font-family: 'Open Sans', sans-serif;
}

.title{
    font-size: 10px;
    background: -webkit-linear-gradient(teal, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Cabin', sans-serif;
}
input[type="dfix"] {
    width: 800px;
}